In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set visualization style (optional)
sns.set(style="whitegrid")

In [2]:
# Load the dataset
df = pd.read_csv("/content/messy_HR_data.csv")

In [3]:
df.head()

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,david,NaN,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,eve,NaN,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,grace,NaN,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1000 non-null   object
 1   Age                841 non-null    object
 2   Salary             1000 non-null   object
 3   Gender             1000 non-null   object
 4   Department         1000 non-null   object
 5   Position           1000 non-null   object
 6   Joining Date       1000 non-null   object
 7   Performance Score  1000 non-null   object
 8   Email              610 non-null    object
 9   Phone Number       815 non-null    object
dtypes: object(10)
memory usage: 78.3+ KB

In [5]:
df.describe()

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
count,1000,841,1000,1000,1000,1000,1000,1000,610,815
unique,10,5,6,3,5,5,5,5,3,4
top,alice,thirty,65000,Male,Finance,Assistant,2020/02/20,B,user@domain.com,123-456-7890
freq,118,176,184,355,218,214,232,225,213,236

In [6]:
# Dictionary to map text numbers to integers
text_to_num = {
    'twenty': 20, 'twenty-one': 21, 'twenty-two': 22, 'twenty-three': 23, 'twenty-four': 24,
    'twenty-five': 25, 'thirty': 30, 'thirty-one': 31, 'thirty-two': 32, 'thirty-three': 33,
    'thirty-four': 34, 'thirty-five': 35, 'forty': 40, 'forty-one': 41, 'forty-two': 42,
    'forty-three': 43, 'forty-four': 44, 'forty-five': 45
}

# Function to convert age to numeric
def convert_age(value):
    if pd.isna(value):
        return np.nan
    value = str(value).lower().strip()
    if value in text_to_num:
        return text_to_num[value]
    try:
        return int(value)
    except ValueError:
        return np.nan

# Apply the conversion
df['Age'] = df['Age'].apply(convert_age)

# Verify
print("Unique values in Age after conversion:")
print(df['Age'].unique())

Unique values in Age after conversion:
[25. nan 35. 40. 30. 50.]

In [7]:
print(df.isnull().sum())

Name                   0
Age                  159
Salary                 0
Gender                 0
Department             0
Position               0
Joining Date           0
Performance Score      0
Email                390
Phone Number         185
dtype: int64

In [8]:
# Dictionary to map text salaries to numbers
salary_text_to_num = {
    'sixty thousand': 60000, 'fifty thousand': 50000, 'seventy thousand': 70000,
    'eighty thousand': 80000, 'ninety thousand': 90000  # Add more as needed
}

# Function to convert salary to numeric
def convert_salary(value):
    if pd.isna(value) or str(value).lower() == 'nan':
        return np.nan
    value = str(value).lower().strip()
    if value in salary_text_to_num:
        return salary_text_to_num[value]
    try:
        return float(value)
    except ValueError:
        return np.nan

# Apply the conversion
df['Salary'] = df['Salary'].apply(convert_salary)

# Verify
print("Unique values in Salary after conversion:")
print(df['Salary'].unique())

Unique values in Salary after conversion:
[50000. 65000. 60000.    nan 70000. 55000.]

In [9]:
# Strip spaces from text columns
for col in ['Name', 'Department', 'Position']:
    if col in df.columns:
        df[col] = df[col].str.strip()

# Verify by checking a few rows
print("Sample rows after stripping spaces:")
print(df[['Name', 'Department', 'Position']].head())

Sample rows after stripping spaces:
     Name Department  Position
0   grace         HR   Manager
1   david    Finance  Director
2  hannah      Sales  Director
3     eve         IT   Manager
4   grace    Finance   Manager

In [10]:
# Function to parse dates with multiple formats
def parse_date(date_str):
    if pd.isna(date_str):
        return pd.NaT
    try:
        return pd.to_datetime(date_str, errors='coerce')
    except:
        return pd.NaT

# Apply the conversion
df['Joining Date'] = df['Joining Date'].apply(parse_date)

# Verify
print("Joining Date after conversion:")
print(df['Joining Date'].head())
print("\nData type of Joining Date:", df['Joining Date'].dtype)

Joining Date after conversion:
0   2018-04-05
1   2020-02-20
2   2020-01-15
3   2018-04-05
4   2020-01-15
Name: Joining Date, dtype: datetime64[ns]

Data type of Joining Date: datetime64[ns]

In [11]:
# Ensure Age and Salary are numeric
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Ensure text columns are strings
for col in ['Name', 'Department', 'Position', 'Email', 'Phone Number']:
    if col in df.columns:
        df[col] = df[col].astype(str).replace('nan', np.nan)

# Verify data types
print("Data Types After Correction:")
print(df.info())

Data Types After Correction:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1000 non-null   object
 1   Age                841 non-null    float64
 2   Salary             833 non-null    float64
 3   Gender             1000 non-null   object
 4   Department         1000 non-null   object
 5   Position           1000 non-null   object
 6   Joining Date       1000 non-null   datetime64[ns]
 7   Performance Score  1000 non-null   object
 8   Email              610 non-null    object
 9   Phone Number       815 non-null    object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 78.3+ KB
None

In [12]:
# Check for missing values
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
Name                   0
Age                  159
Salary               167
Gender                 0
Department             0
Position               0
Joining Date           0
Performance Score      0
Email                390
Phone Number         185
dtype: int64

In [13]:
# Impute numerical columns with median
for col in ['Age', 'Salary']:
    if df[col].isnull().sum() > 0:
        df[col].fillna(df[col].median(), inplace=True)

# Impute Joining Date with the most frequent date
if df['Joining Date'].isnull().sum() > 0:
    most_frequent_date = df['Joining Date'].mode()[0]
    df['Joining Date'].fillna(most_frequent_date, inplace=True)

# Replace missing Email and Phone Number with "Unknown"
for col in ['Email', 'Phone Number']:
    if df[col].isnull().sum() > 0:
        df[col].fillna('Unknown', inplace=True)

# Verify
print("Missing Values After Imputation:")
print(df.isnull().sum())

Missing Values After Imputation:
Name                 0
Age                  0
Salary               0
Gender               0
Department           0
Position             0
Joining Date         0
Performance Score    0
Email                0
Phone Number         0
dtype: int64

<ipython-input-13-f758e9f23a28>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
<ipython-input-13-f758e9f23a28>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('Unknown', inplace=True)

In [14]:
# Check for placeholder values in all columns
for col in df.columns:
    print(f"Unique values in {col}:")
    print(df[col].unique()[:10])  # Show first 10 unique values

Unique values in Name:
['grace' 'david' 'hannah' 'eve' 'jack' 'charlie' 'frank' 'bob' 'alice'
 'ivy']
Unique values in Age:
[25. 35. 40. 30. 50.]
Unique values in Salary:
[50000. 65000. 60000. 70000. 55000.]
Unique values in Gender:
['Male' 'Female' 'Other']
Unique values in Department:
['HR' 'Finance' 'Sales' 'IT' 'Marketing']
Unique values in Position:
['Manager' 'Director' 'Clerk' 'Assistant' 'Analyst']
Unique values in Joining Date:
<DatetimeArray>
['2018-04-05 00:00:00', '2020-02-20 00:00:00', '2020-01-15 00:00:00',
 '2019-03-25 00:00:00', '2019-12-01 00:00:00']
Length: 5, dtype: datetime64[ns]
Unique values in Performance Score:
['D' 'F' 'C' 'A' 'B']
Unique values in Email:
['email@example.com' 'user@domain.com' 'name@company.org' 'Unknown']
Unique values in Phone Number:
['Unknown' '123-456-7890' '098-765-4321' ' ' '555-555-5555']

In [15]:
# Function to validate phone numbers (basic check for format XXX-XXX-XXXX)
def validate_phone(phone):
    if pd.isna(phone) or phone == 'Unknown':
        return phone
    # Simple check for a phone number pattern (can be customized)
    if len(str(phone).replace('-', '')) < 10 or not str(phone).replace('-', '').isdigit():
        return 'Unknown'
    return phone

# Function to validate emails
def validate_email(email):
    if pd.isna(email) or email == 'Unknown':
        return email
    if '@' not in email or '.' not in email:
        return 'Unknown'
    return email

# Apply validations
df['Phone Number'] = df['Phone Number'].apply(validate_phone)
df['Email'] = df['Email'].apply(validate_email)

# Verify
print("Sample Phone Numbers:")
print(df['Phone Number'].head())
print("\nSample Emails:")
print(df['Email'].head())

Sample Phone Numbers:
0         Unknown
1    123-456-7890
2    098-765-4321
3         Unknown
4    098-765-4321
Name: Phone Number, dtype: object

Sample Emails:
0    email@example.com
1      user@domain.com
2    email@example.com
3     name@company.org
4     name@company.org
Name: Email, dtype: object

In [16]:
# Check for duplicate rows
print("Number of Duplicate Rows:", df.duplicated().sum())

# Drop duplicates if any
df.drop_duplicates(inplace=True)

# Verify
print("Number of Rows After Dropping Duplicates:", len(df))

Number of Duplicate Rows: 0
Number of Rows After Dropping Duplicates: 1000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1000 non-null   object
 1   Age                1000 non-null   float64
 2   Salary             1000 non-null   float64
 3   Gender             1000 non-null   object
 4   Department         1000 non-null   object
 5   Position           1000 non-null   object
 6   Joining Date       1000 non-null   datetime64[ns]
 7   Performance Score  1000 non-null   object
 8   Email              1000 non-null   object
 9   Phone Number       1000 non-null   object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 78.3+ KB

In [18]:
df.head()

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,grace,25.0,50000.0,Male,HR,Manager,2018-04-05,D,email@example.com,Unknown
1,david,35.0,65000.0,Female,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,hannah,35.0,60000.0,Female,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,eve,35.0,50000.0,Female,IT,Manager,2018-04-05,A,name@company.org,Unknown
4,grace,35.0,60000.0,Female,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321

In [19]:
df.to_csv("/content/messy_HR_data.csv", index=False)
print("Cleaned dataset saved as 'hr_data_cleaned.csv'")

Cleaned dataset saved as 'hr_data_cleaned.csv'